version: "3.8"

services:

  frontend:
    build: ./Frontend
    container_name: frontend
    ports:
      - "9091:9091"
    networks:
      - app-net
    depends_on:
      - backend

  backend:
    build: ./demo-app
    container_name: backend
    ports:
      - "9092:8080"
    networks:
      - app-net
    depends_on:
      - mongodb

  mongodb:
    build: ./mongodb
    container_name: mongodb
    ports:
      - "27018:27018"
    networks:
      - app-net
    volumes:
      - mongo-data:/data/db

networks:
  app-net:
    driver: bridge

volumes:
  mongo-data:
