version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - app-network

  backend:
    build: .
    container_name: springboot-app
    ports:
      - "8085:8085"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/demo_db
    depends_on:
      - mongodb
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
